{% if user.is_authenticated %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/vendor/animate/animate.css' %}">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition" bgcolor="black">
  
  <!-- Header -->
  <header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
      <!-- Topbar -->
      

      <div class="wrap-menu-desktop">
        <nav class="limiter-menu-desktop container">
          
          <!-- Logo desktop -->   
          <a href="#" class="" style="color: black;">
            <h1>Gallery</h1>
          </a>

          <!-- Menu desktop -->
          <div class="menu-desktop">
            <ul class="main-menu">
              <li class="active-menu">
                <a href="index.html"></a>
              </li>

              <li>
                <a href="product.html"></a>
              </li>

              <li>
                <a href="shoping-cart.html"></a>
              </li>

              <li>
                <a href="blog.html"></a>
              </li>

              <li>
                <a href="about.html"></a>
              </li>

              <li>
                <a href="contact.html"></a>
              </li>
            </ul>
          </div>  

          <!-- Icon header -->
          <div class="wrap-icon-header flex-w flex-r-m">
            <!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
              <i class="zmdi zmdi-search"></i>
            </div>

            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
              <i class="zmdi zmdi-shopping-cart"></i>
            </div> -->

            <a href="/" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
              <!-- <i class="zmdi zmdi-favorite-outline"></i> -->
              Go to Site
            </a>
          </div>
        </nav>
      </div>  
    </div>

    <!-- Header Mobile -->


  </header>



    

<br><br>




  <!-- Product -->
  <section class="bg0 p-t-23 p-b-140">
    <div class="container">
      <!-- <div class="p-b-10">
        <h3 class="ltext-103 cl5">
          Product Overview
        </h3>
      </div> -->

      <div class="flex-w flex-sb-m p-b-52">
        

        
        
        <!-- Search product -->
        <div class="dis-none panel-search w-full p-t-10 p-b-15">
          <div class="bor8 dis-flex p-l-15">
            <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
              <i class="zmdi zmdi-search"></i>
            </button>

            <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
          </div>  
        </div>

        <!-- Filter -->
    
      </div>
      <div class="row isotope-grid">
        {% for i,j in galleryimages %}

  <div class=" js-modal1 p-t-60 p-b-20" style="background-color: black">
    <!-- <div class="overlay-modal1 js-hide-modal1"></div> -->

    <div class="container">
      <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
        <!-- <button class="how-pos3 hov3 trans-04 js-hide-modal1 btn btn-primary">
          Close
        </button> -->

        <div class="row">
          <div class="col-md-6 col-lg-7 p-b-30">
            <div class="p-l-25 p-r-30 p-lr-0-lg">
              <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>
                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                <div class="slick3 gallery-lb">
                      {% if j == "video"  %}
                        <div class="item-slick3" data-thumb="https://www.howtogeek.com/wp-content/uploads/2021/08/YouTube-logo-hero-1.png">
                          <video width="510" height="350" controls>
                            <source src="/media/{{i.image}}" type="video/mp4">
                          </video>    
                      {%else%}
                      <div class="item-slick3" data-thumb="/media/{{i.image}}">
                        <div class="wrap-pic-w pos-relative">
                          <img src="/media/{{i.image}}" alt="IMG-PRODUCT">
                        </div>
                      {%endif%}
                        <br>
                    <center><b>{{i.description}}</b></center>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-5 p-b-30">
            <div class="p-r-50 p-t-5 p-lr-0-lg">
              <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                Comments
               </h4>
               <table class="table ">
               
              {% for j in comments %}
               <tr>
                {% if i.id ==  j.image.id %}
                <td><p><b>{{j.user}}</b> </td><td > {{j.comment}}</p></td><td>

                  {% if j.user == user %}
                  <form method="post" action="/deletecomment/">{% csrf_token %}
                    <input type="hidden" name="id" value="{{j.id}}">
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete" name="">
                  </form>
                  {% else %}
                  <!-- {{j.user}}--{{user.first_name}} -->
                  {% endif %}
                </td>
                {% endif %}
                </tr>
                      {% endfor %}
                      
             </table>
              <!--  -->
              <div class="p-t-33">

                <div class="flex-w flex-r-m p-b-10">
                  <div class="size-203 flex-c-m respon6">
                    Comment
                  </div>
                  <div class="size-204 respon6-next">
                      <form method="post">
                        {% csrf_token %}
                      <input type="hidden" name="image" value="{{i.id}}">
                      <input type="text" name="comment" class="form-control">
                  </div>
                </div>

                <div class="flex-w flex-r-m p-b-10">
                  <div class="size-204 flex-w flex-m respon6-next">
                    <input type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 ">
                  </div>
                </div>  
              </div>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->



            {% endfor %}    
                
      </div>

      <!-- Load more -->
    </div>
  </section>






<!--===============================================================================================-->  
  <script src="{% static 'gallery/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'gallery/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'gallery/vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'gallery/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'gallery/vendor/select2/select2.min.js' %}"></script>
  <script>
    $(".js-select2").each(function(){
      $(this).select2({
        minimumResultsForSearch: 20,
        dropdownParent: $(this).next('.dropDownSelect2')
      });
    })
  </script>
<!--===============================================================================================-->
  <script src="{% static 'gallery/vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'gallery/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'gallery/vendor/slick/slick.min.js' %}"></script>
  <script src="{% static 'gallery/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'gallery/vendor/parallax100/parallax100.js' %}"></script>
  <script>
        $('.parallax100').parallax100();
  </script>
<!--===============================================================================================-->
  <script src="gallery/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
  <script>
    $('.gallery-lb').each(function() { // the containers for all your galleries
      $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
              enabled:true
            },
            mainClass: 'mfp-fade'
        });
    });
  </script>
<!--===============================================================================================-->
  <script src="{% static 'gallery/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'gallery/vendor/sweetalert/sweetalert.min.js' %}"></script>
  <script>
    $('.js-addwish-b2').on('click', function(e){
      e.preventDefault();
    });

    $('.js-addwish-b2').each(function(){
      var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
      $(this).on('click', function(){
        swal(nameProduct, "is added to wishlist !", "success");

        $(this).addClass('js-addedwish-b2');
        $(this).off('click');
      });
    });

    $('.js-addwish-detail').each(function(){
      var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

      $(this).on('click', function(){
        swal(nameProduct, "is added to wishlist !", "success");

        $(this).addClass('js-addedwish-detail');
        $(this).off('click');
      });
    });

    /*---------------------------------------------*/

    $('.js-addcart-detail').each(function(){
      var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
      $(this).on('click', function(){
        swal(nameProduct, "is added to cart !", "success");
      });
    });
  
  </script>
<!--===============================================================================================-->
  <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script>
    $('.js-pscroll').each(function(){
      $(this).css('position','relative');
      $(this).css('overflow','hidden');
      var ps = new PerfectScrollbar(this, {
        wheelSpeed: 1,
        scrollingThreshold: 1000,
        wheelPropagation: false,
      });

      $(window).on('resize', function(){
        ps.update();
      })
    });
  </script>
<!--===============================================================================================-->
  <script src="{% static 'gallery/js/main.js' %}"></script>

</body>
</html>
{%else %}
<style type="text/css">
  *{
    transition: all 0.6s;
}

html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
    display: table-cell;
    vertical-align: middle;
}

.fof h1{
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type{
    from{box-shadow: inset -3px 0px 0px #888;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}
</style>
<div id="main">
      <div class="fof">
            <h1>Try Login Page</h1>
      </div>
</div>
{% endif %}